.mytop{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1%;
    margin-top: 1%;
}
.notFound{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-bottom: 3%;
}